@page
@model IndexModel
@using EDDataAccessLibrary.Models
@{
    ViewData["Title"] = "Home page";
     string file = System.IO.File.ReadAllText("generated.json");
     var items = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Person>>(file);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@DateTime.Now</h1>
    @using (Html.BeginForm())
    {
        <div>
            Email: <input type="email" id="Email" value="">
            <button>Register</button>
        </div>
    }
    <div class="container">
        <div class="row">
            @foreach (var item in items)
            {
            <div class="col-lg-6 col-sm-6 p-5">
                <h3>First name: @item.FirstName</h3>
                <h3>Last Name:@item.LastName</h3>
                <p>Age: @item.Age</p>
            </div>
            }
        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



